<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>ReadMore!</title>
    <meta name="Anna-Sophie Nagel">
    <meta name="Book Recommendation Engine">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/stylesheet.css" />
    <script src = "bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="./app.js"></script>
  </head>

  <body ng-app = "readmore">
    <div class="container">
  <!-- <div class="col-md-8"> -->
      <h1>ReadMore!</h1>
      <h3>--Find the next book you'll read--</h3>

      <div ng-controller="ReadMoreCtrl">
            Hi!
            {{book.title}}

        <div class="search col-md-6 col-md-offset-3">
          <form>
            <div class="form-group">
    <!-- Add label? -->
              <input type="text" class="form-control" id="searchTopic" ng-model="topic" placeholder = "what do you want to read about?"/>
              <button type="submit" class="btn" ng-click='findBooks()'>Find</button>
              <div class="oneBook" ng-repeat="book in bookList">
                <div class="text pull-left">
                  <div class = "title">
                    {{book.volumeInfo.title}}
                  </div>

                  <div class="subtitle">
                    {{book.volumeInfo.subtitle}}
                  </div>

                  <div class="author">
                    {{book.volumeInfo.author}}
                  </div>

                  <div class="description">
                    {{book.volumeInfo.description}}
                  </div>
                </div>
                <div class="cover pull-right">
                  <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="Description" />
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
