body {
  text-align: center;
/*  background-color: purple;*/
}
input {
  display: inline;
  margin: 1em;
  /*margin*/
}
button {
  display:inline;
  margin-top: 1em;
}

.jumbotron {
  margin: 2em;
/*  border: 1px solid #ccc;
  border-radius: 11px;*/
  margin: 1.5em;
  padding: 1.5em;
  height: 50em;
  /*background: #efe;*/
}

.title {
  color: blue;
}

.text {
  /*text-align: left;*/
  display: inline;
}

#next {
  width: 10%;
}

.cover {
  margin-top: 5em;
}

/*animation*/
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

@media (min-width: 992px) {
  /*float: none;*/
  body {
    /*background: purple;*/
  }

  .cover {
    margin-top: 10em;
  }

  #next {
    margin-top: 5em;
    /*position: absolute;*/
    /*top: 65%;*/
    /*left: 80%;*/
    /*float: right;*/
  }
  .text {
    margin-top: 5em;
  }
  .description {
    margin-bottom: 5em;
  }
  .jumbotron {
    height: 35em;
  }
}

/*@media (min-width: 990px) {
  .oneBook {
    width: 75%;
    padding-left: 25em;
  }
  .text {
    width: 50%;
  }
}*/