body {
  text-align: center;
/*  background-color: purple;*/
}
input {
  display: inline;
  margin: 1em;
  /*margin*/
}
button {
  display:inline;
  margin-top: 1em;
}

.jumbotron {
  margin: 2em;
  border: 1px solid #ccc;
  border-radius: 11px;
  margin: 1.5em;
  padding: 1.5em;
  height: 30em;
  background: #eee;
}

.title {
  color: blue;
}

.text {
  /*text-align: left;*/
  display: inline;
}

#next {
  width: 10%;
}

/*@media (min-width: 990px) {
  .oneBook {
    width: 75%;
    padding-left: 25em;
  }
  .text {
    width: 50%;
  }
}*/